@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --bodyOverflow: auto;
  --mainVisibility: visible;
  --horizontalPadding: 75px;
  --horizontalPaddingMobile: 40px;
  --buttonColor: #39a9dc;
  --buttonTextColor: #000000;
  --background: #121212;
  --textPrimary: #ffffff;
  --illuminem_main_blue: #0e80c0;
  --illuminem_main_white: #ededed;
  --illuminem_secondary_white: #545454;
  --illuminem_third_white: #cccccc;
  --illuminem_forth_white: #999;
  --illuminem_main_black: #121212;
  --illuminem_seconday_black: #202020;
  --illuminem_border_radius: 10px;

  --nav-bar-link-color: #e5e5e5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--textPrimary);
  cursor: pointer;
}

a:hover {
  color: var(--illuminem_third_white);
}

body {
  background-color: var(--background);
  color: var(--textPrimary);
  font-family: "Circular", sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

/* ----------------- */
/* ---- SPACING ---- */
/* ----------------- */

.pl-4 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

/* ---------------- */
/* ---- NAVBAR ---- */
/* ---------------- */

.navbar {
  background-color: var(--background);
}

.nav-link,
.nav-link:focus {
  color: var(--nav-bar-link-color) !important;
}

.nav-link:hover,
.nav-link:active {
  color: var(--nav-bar-link-color) !important;
  opacity: 0.5 !important;
}

.dropdown-toggle.nav-link::after {
  display: none;
}

/* ------------------ */
/* ---- CAROUSEL ---- */
/* ------------------ */

.carousel-indicators [data-bs-target] {
  width: 100px;
  margin-right: 20px;
}

.carousel-control-prev {
  justify-content: flex-start;
  left: -30px;
  width: 7%;
}

.carousel-control-next {
  justify-content: flex-end;
  right: -30px;
  width: 8%;
}

@media (max-width: 575.98px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

.card {
  background-color: var(--background);
}

/* -------------- */
/* ---- FORM ---- */
/* -------------- */

.form-control,
.form-control:focus {
  background-color: transparent;
  color: var(--textPrimary);
  border-color: var(--illuminem_secondary_white);
}

/* --------------- */
/* ---- MODAL ---- */
/* --------------- */

.modal-content {
  background-color: var(--background);
}

.modal-dialog {
  max-width: 750px;
}

.modal-header {
  height: 200px;
}

@media (min-width: 576px) {
  .modal-header {
    height: 350px;
  }
}

/* ---------------- */
/* ---- FOOTER ---- */
/* ---------------- */

.footer-row > *,
.footer-links > * {
  padding-right: 2rem;
}

@media (max-width: 767px) {
  .footer-row > * {
    flex-wrap: wrap;
    font-size: 0.8rem;
    padding-right: 0;
  }
  .footer-links > * {
    padding-right: 0;
    margin-bottom: 10px;
  }
  .footer-links h6 {
    margin-bottom: 0;
  }
  .footer-links h6:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social-icons {
  display: flex;
  justify-content: flex-end;
}
.footer-social-icons a {
  margin-left: 10px;
}
