@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyOverflow: auto;
  --mainVisibility: visible;
  --horizontalPadding: 75px;
  --horizontalPaddingMobile: 40px;
  --buttonColor: #39a9dc;
  --buttonTextColor: #000000;
  --background: #121212;
  --textPrimary: #ffffff;
  --illuminem_main_blue: #0e80c0;
  --illuminem_main_white: #ededed;
  --illuminem_seconday_white: #545454;
  --illuminem_third_white: #cccccc;
  --illuminem_forth_white: #999;
  --illuminem_main_black: #121212;
  --illuminem_seconday_black: #202020;
  --illuminem_border_radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--textPrimary);
  font-family: "Circular", sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
